#about{
    margin: 0;
    padding: 0;

    .header{
        top: 110%;
        width: 94%;
        border-bottom: 5px solid #fd3075;
        position: absolute;
        left: 3%;

        h1{
            color: #fd3075;
            font-size: 3rem;
            font-family: 'Roboto';
            position: absolute;
            top: -110px;
            left: 2%;
        }
    }

    .content{
        position: absolute;
        color: #fd3075;
        font-family: 'Roboto';
        display: flex;
        flex-direction: row;
        width: 80%;
        top: 120%;
        left: 10%;
        justify-content: space-between;
        

        .text{
            display: flex;
            flex-direction: column;

            p{
                width: 70%;
            }
        }

        .pictures{
            display: flex;
            flex-direction: row;
            width: 80%;
            align-items: center;
            justify-content: space-evenly;
            z-index: 20;

            div{
                overflow: hidden;
                justify-content: center;
                align-items: center;
                height: 600px;
                background-image: url('../images/Peshev.jpeg');
                background-size: cover;
                background-position: center;
                width: 350px;



                &:nth-child(1){
                    background-image: url('../images/Savov.jpg');
                    background-size: auto;
                    background-position: top;
                    border-right: 3px solid #fd3075;
                }

                &:nth-child(2){
                    background-image: url('../images/Simeonov.jpg');
                    background-size: auto;
                    background-position: top;
                    border-right: 3px solid #fd3075;
                }
            }
        }
    }

}

