#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;


  .background{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;

    #X{
      position: absolute;
      top: -80%;
      margin-left: -50vh;
      transform: rotateZ(-25deg);
      font-family: 'Roboto';
      font-size: 35rem;
      color: #1f242c;
      animation: xShow .7s ease forwards .1s;
      animation-delay: 3s;
    }

    #O{
      position: absolute;
      right: -10%;
      margin-right: -20vh;
      font-family: 'Roboto';
      font-size: 35rem;
      color: #1f242c;
      animation: oShow .9s ease forwards .2s;
      animation-delay: 2.8s;
    }
  }



  .header_wrapper {
    color: #fd3075;
    font-size: 21rem;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 550px;
    order: 1;

    div {
      overflow: hidden;
      height: 1000%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 170px;
      transition: border-right .3s, width .3s;


      &:nth-child(1) p {
        margin-left: 125px;
        margin-bottom: 1900px;
        transition: margin-left .3s;
      }

      &:nth-child(2) p {
        margin-top: -1100px;
        transition: margin-bottom .3s;
        
      }

      &:nth-child(3) p {
        margin-top: -1100px;
        transition: margin-bottom .3s;
      }

      &:nth-child(4) p {
        margin-top: -1100px;
        margin-right: 125px;  
        transition: margin-right .3s, margin-bottom .3s;
      }


      //borders
      &:first-child {
        border-right: 3px solid #fd3075;
        width: 225px;
      }

      &:nth-child(2) {
        border-right: 3px solid #fd3075;
      }

      &:nth-child(3) {
        border-right: 3px solid #fd3075;
      }

      &:last-child{
        width: 225px;
      }

    }
  }

  .button_play {
    background-color: #fd3075;
    padding: 0.5rem 8.5rem;
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-family: "Roboto";
    transition: 0.3s;
    margin-bottom: -500px;
    order: 2;
    z-index: 101;
    
    &:hover{
      border-radius: 40px;
      box-shadow: 0 0 20px 2px #fd3075, 0.5rem 0.5rem 30px mix(black, #fd3075, 50%);
    }

    &:hover ~ .header_wrapper div{


      &:first-child {
        border-right: 3px solid rgba(0, 0, 0, 0);
        width: 1000px;
      }

      &:nth-child(2) {
        border-right: 3px solid rgba(0, 0, 0, 0);
        width: 1100px;
      }

      &:nth-child(3) {
        border-right: 3px solid rgba(0, 0, 0, 0);
        width: 1000px;
      }

      &:last-child{
        width: 1000px;
      }

      &:first-child p{
        margin-left: 0;
      }

      &:nth-child(2) p{
        margin-bottom: 200px;
      }

      &:nth-child(3) p{
        margin-bottom: 300px;
      }

      &:last-child p{
        margin-right: 0;
        margin-bottom: 490px;
      }

    }
  }
}

@keyframes xShow{

  100%{
    margin-left: 0;
    transform: rotateZ(25deg);
  }
}


@keyframes oShow{

  100%{
    margin-right: 0;
    transform: rotateZ(-15deg);
  }
}

@keyframes arrowAbout_hide{
  100%{
    position: fixed;
    bottom: -25%;
  }
}

