body,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.overlay {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 100;
  -webkit-animation: overlayShow .9s ease forwards .8s;
          animation: overlayShow .9s ease forwards .8s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.overlaySVG_show {
  -webkit-animation: svgShow 6s ease forwards .8s;
          animation: svgShow 6s ease forwards .8s;
}

.overlaynt {
  position: absolute;
}

.overlaynt svg text {
  width: 100%;
  stroke: #fd3075;
  font-size: 15rem;
  stroke-width: 5;
  z-index: 10;
  font-family: 'Roboto';
  opacity: 0;
}

body {
  background-color: #1a1f26;
  color: #fd3075;
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-container h1 {
  font-size: 5rem;
}

.site-container table {
  margin-top: 20vh;
}

.site-container table .row {
  border-bottom: 3px solid #fd3075;
}

.site-container table .test {
  position: absolute;
  top: 17%;
  left: 37.7%;
}

.site-container table tr {
  height: 15rem;
  min-width: 35rem;
}

.site-container table tr td {
  height: 15rem;
  width: 15rem;
}

.site-container table tr td:nth-child(1) {
  border-right: 3px solid #fd3075;
}

.site-container table tr td:nth-child(2) {
  border-right: 3px solid #fd3075;
}

.site-container table tr td button {
  height: 100%;
  width: 100%;
  background: transparent;
  border-style: none;
  color: #fd3075;
  font-family: 'Roboto';
  font-size: 7rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.site-container table tr td button:hover {
  background-color: #1f242c;
  cursor: pointer;
}

.site-container table tr td button:focus {
  outline: none;
}

.site-container p {
  font-size: 2rem;
}

.clickedX {
  -webkit-animation: clickX .3s;
          animation: clickX .3s;
}

.clickedO {
  -webkit-animation: clickO .3s;
          animation: clickO .3s;
}

.clickedX text {
  stroke: #fd3075;
  font-size: 600px;
  font-weight: 200px;
  stroke-width: 5;
  -webkit-animation: xSVG_anim .3s;
          animation: xSVG_anim .3s;
  fill: #fd3075;
}

@-webkit-keyframes clickO {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 7rem;
  }
}

@keyframes clickO {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 7rem;
  }
}

@-webkit-keyframes xSVG_anim {
  0% {
    stroke-dasharray: 0 50%;
    fill: #1f242c;
  }
  50% {
    fill: #1f242c;
  }
  100% {
    fill: #fd3075;
    stroke-dasharray: 50% 0;
  }
}

@keyframes xSVG_anim {
  0% {
    stroke-dasharray: 0 50%;
    fill: #1f242c;
  }
  50% {
    fill: #1f242c;
  }
  100% {
    fill: #fd3075;
    stroke-dasharray: 50% 0;
  }
}

@-webkit-keyframes overlayShow {
  100% {
    opacity: 100%;
    pointer-events: auto;
  }
}

@keyframes overlayShow {
  100% {
    opacity: 100%;
    pointer-events: auto;
  }
}

@-webkit-keyframes svgShow {
  0% {
    stroke-dasharray: 0 50%;
    opacity: 0;
  }
  100% {
    stroke-dasharray: 50% 0;
    opacity: 100%;
  }
}

@keyframes svgShow {
  0% {
    stroke-dasharray: 0 50%;
    opacity: 0;
  }
  100% {
    stroke-dasharray: 50% 0;
    opacity: 100%;
  }
}
/*# sourceMappingURL=game-style.css.map */