body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}


body{
  background-color: #1a1f26;
  color: #fd3075;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 5rem;
  }

  table {

    margin-top: 20vh;

    .row{
      border-bottom: 3px solid #fd3075;
    }

    .test{
      position: absolute;
      top: 17%;
      left: 37.7%;
    }


    tr {
      height: 15rem;
      min-width: 35rem;


      td {
        height: 15rem;
        width: 15rem;
        
        &:nth-child(1){
          border-right: 3px solid #fd3075;
        }

        &:nth-child(2){
          border-right: 3px solid #fd3075;
        }




        button {
          height: 100%;
          width: 100%;
          background: transparent;
          border-style: none;
          color:#fd3075;
          font-family: 'Roboto';
          font-size: 7rem;
          transition: .3s;
          

          &:hover{
            background-color: #1f242c;
            cursor: pointer;
          }

          &:focus{
            outline: none;
          }
          
        }
      }
    }
  }

  p {
    font-size: 2rem;
  }
}

.clickedX{
  animation: clickX .3s ease forwards .2s;
}

.clickedO{
  animation-name: clickO;
}
