body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site_container {
  width: 100%;
  height: 100%;
}

.section {
  min-height: 100vh;
  background-color: #1a1f26;
}

@import "intro";
