body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f2b;
  overflow-x: hidden;
}

section {
  width: 100%;
  min-height: 100vh;
}

.site-container {
  width: 100%;
  height: 100%;
  /*game art container start */
  /*game art container end */
  /*intro art container start*/
  /*intro art container end*/
}

.site-container .game-art-container {
  position: absolute;
  top: -215%;
  left: 0;
  width: 100%;
  height: 200vh;
}

.site-container .game-art-container .clouds {
  position: relative;
  z-index: 6;
  top: 100vh;
}

.site-container .game-art-container .clouds img {
  position: absolute;
}

.site-container .game-art-container .clouds img:nth-child(1) {
  left: 15%;
  bottom: 10%;
  height: 90px;
}

.site-container .game-art-container .clouds img:nth-child(2) {
  right: 25%;
  height: 100px;
  bottom: 100%;
}

.site-container .game-art-container .clouds img:nth-child(3) {
  position: absolute;
  height: 200px;
  bottom: 100px;
  right: -5%;
}

.site-container .game-art-container .clouds img:nth-child(4) {
  position: absolute;
  height: 200px;
  bottom: 550px;
  right: -4%;
}

.site-container .game-art-container .clouds img:nth-child(5) {
  right: 25%;
  height: 100px;
  bottom: 870px;
}

.site-container .game-art-container .clouds img:nth-child(6) {
  left: 25%;
  height: 90px;
  bottom: 870px;
}

.site-container .game-art-container .clouds img:nth-child(7) {
  position: absolute;
  height: 200px;
  bottom: 640px;
  left: -1.2%;
}

.site-container .game-art-container .clouds img:nth-child(8) {
  position: absolute;
  height: 220px;
  bottom: 100px;
  left: -1.2%;
}

.site-container .game-art-container .second-detail {
  position: relative;
  top: -2%;
  left: 0;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.site-container .game-art-container .second-detail img {
  position: absolute;
  z-index: 5;
}

.site-container .game-art-container .Planet {
  position: absolute;
  left: 20%;
  top: -5%;
  -webkit-transform: translate(-50%, -48%);
          transform: translate(-50%, -48%);
  z-index: 2;
}

.site-container .game-art-container .first-detail {
  position: relative;
  top: 2000px;
  right: 1.4%;
}

.site-container .game-art-container .first-detail img {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.site-container .game-art-container .stars {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.site-container .game-art-container .stars #star-bg {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-83%, -30%);
          transform: translate(-83%, -30%);
  z-index: 1;
  height: 600px;
}

.site-container .game-art-container .stars #star-mg {
  position: absolute;
  top: 70%;
  left: 20%;
  -webkit-transform: translate(-83%, -30%);
          transform: translate(-83%, -30%);
  z-index: 3;
  height: 170px;
}

.site-container .game-art-container .stars #star-fr {
  position: absolute;
  height: 1200px;
  top: 10%;
  left: 7%;
  z-index: 4;
}
/*# sourceMappingURL=style_new.css.map */