body,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

.arrowToIntro_shown {
  -webkit-animation: showArrowToIntro .5s ease forwards .2s;
          animation: showArrowToIntro .5s ease forwards .2s;
}

.arrowToIntro_hidden {
  -webkit-animation: hideArrowToIntro .5s ease forwards .2s;
          animation: hideArrowToIntro .5s ease forwards .2s;
}

.arrowToAbout_shown {
  -webkit-animation: showArrowToAbout .5s ease forwards .2s;
          animation: showArrowToAbout .5s ease forwards .2s;
}

.arrowToAbout_hidden {
  -webkit-animation: hideArrowToAbout .5s ease forwards .2s;
          animation: hideArrowToAbout .5s ease forwards .2s;
}

.nav_overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
}

.nav_overlay .arrowToAbout {
  position: absolute;
  bottom: -5%;
  left: 48.5%;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.nav_overlay .arrowToIntro {
  position: absolute;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  left: 48.5%;
  top: -5%;
}

.site_container {
  width: 100%;
  height: 100%;
}

.section {
  min-height: 100vh;
  background-color: #1a1f26;
}

@-webkit-keyframes showArrowToIntro {
  100% {
    top: 5%;
  }
}

@keyframes showArrowToIntro {
  100% {
    top: 5%;
  }
}

@-webkit-keyframes showArrowToAbout {
  100% {
    bottom: 5%;
  }
}

@keyframes showArrowToAbout {
  100% {
    bottom: 5%;
  }
}

@-webkit-keyframes hideArrowToIntro {
  100% {
    top: -5%;
  }
}

@keyframes hideArrowToIntro {
  100% {
    top: -5%;
  }
}

@-webkit-keyframes hideArrowToAbout {
  0% {
    bottom: 5%;
  }
  100% {
    bottom: -5%;
  }
}

@keyframes hideArrowToAbout {
  0% {
    bottom: 5%;
  }
  100% {
    bottom: -5%;
  }
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

#intro .background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#intro .background #X {
  position: absolute;
  top: -80%;
  margin-left: -50vh;
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
  font-family: 'Roboto';
  font-size: 35rem;
  color: #1f242c;
  -webkit-animation: xShow .7s ease forwards .1s;
          animation: xShow .7s ease forwards .1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#intro .background #O {
  position: absolute;
  right: -10%;
  margin-right: -20vh;
  font-family: 'Roboto';
  font-size: 35rem;
  color: #1f242c;
  -webkit-animation: oShow .9s ease forwards .2s;
          animation: oShow .9s ease forwards .2s;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

#intro .header_wrapper {
  color: #fd3075;
  font-size: 21rem;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 550px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#intro .header_wrapper div {
  overflow: hidden;
  height: 1000%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  -webkit-transition: border-right .3s, width .3s;
  transition: border-right .3s, width .3s;
}

#intro .header_wrapper div:nth-child(1) p {
  margin-left: 125px;
  margin-bottom: 1900px;
  -webkit-transition: margin-left .3s;
  transition: margin-left .3s;
}

#intro .header_wrapper div:nth-child(2) p {
  margin-top: -1100px;
  -webkit-transition: margin-bottom .3s;
  transition: margin-bottom .3s;
}

#intro .header_wrapper div:nth-child(3) p {
  margin-top: -1100px;
  -webkit-transition: margin-bottom .3s;
  transition: margin-bottom .3s;
}

#intro .header_wrapper div:nth-child(4) p {
  margin-top: -1100px;
  margin-right: 125px;
  -webkit-transition: margin-right .3s, margin-bottom .3s;
  transition: margin-right .3s, margin-bottom .3s;
}

#intro .header_wrapper div:first-child {
  border-right: 3px solid #fd3075;
  width: 225px;
}

#intro .header_wrapper div:nth-child(2) {
  border-right: 3px solid #fd3075;
}

#intro .header_wrapper div:nth-child(3) {
  border-right: 3px solid #fd3075;
}

#intro .header_wrapper div:last-child {
  width: 225px;
}

#intro .button_play {
  background-color: #fd3075;
  padding: 0.5rem 8.5rem;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Roboto";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: -500px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 2;
}

#intro .button_play:hover {
  border-radius: 40px;
  -webkit-box-shadow: 0 0 20px 2px #fd3075, 0.5rem 0.5rem 30px #7f183b;
          box-shadow: 0 0 20px 2px #fd3075, 0.5rem 0.5rem 30px #7f183b;
}

#intro .button_play:hover ~ .header_wrapper div:first-child {
  border-right: 3px solid rgba(0, 0, 0, 0);
  width: 1000px;
}

#intro .button_play:hover ~ .header_wrapper div:nth-child(2) {
  border-right: 3px solid rgba(0, 0, 0, 0);
  width: 1100px;
}

#intro .button_play:hover ~ .header_wrapper div:nth-child(3) {
  border-right: 3px solid rgba(0, 0, 0, 0);
  width: 1000px;
}

#intro .button_play:hover ~ .header_wrapper div:last-child {
  width: 1000px;
}

#intro .button_play:hover ~ .header_wrapper div:first-child p {
  margin-left: 0;
}

#intro .button_play:hover ~ .header_wrapper div:nth-child(2) p {
  margin-bottom: 200px;
}

#intro .button_play:hover ~ .header_wrapper div:nth-child(3) p {
  margin-bottom: 300px;
}

#intro .button_play:hover ~ .header_wrapper div:last-child p {
  margin-right: 0;
  margin-bottom: 490px;
}

@-webkit-keyframes xShow {
  100% {
    margin-left: 0;
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
}

@keyframes xShow {
  100% {
    margin-left: 0;
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
}

@-webkit-keyframes oShow {
  100% {
    margin-right: 0;
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

@keyframes oShow {
  100% {
    margin-right: 0;
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

@-webkit-keyframes arrowAbout_hide {
  100% {
    position: fixed;
    bottom: -25%;
  }
}

@keyframes arrowAbout_hide {
  100% {
    position: fixed;
    bottom: -25%;
  }
}

#about {
  margin: 0;
  padding: 0;
}

#about .header {
  top: 110%;
  width: 94%;
  border-bottom: 5px solid #fd3075;
  position: absolute;
  left: 3%;
}

#about .header h1 {
  color: #fd3075;
  font-size: 3rem;
  font-family: 'Roboto';
  position: absolute;
  top: -110px;
  left: 2%;
}

#about .content {
  position: absolute;
  color: #fd3075;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  top: 120%;
  left: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .content .text p {
  width: 70%;
}

#about .content .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 20;
}

#about .content .pictures div {
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  background-image: url("../images/Peshev.jpeg");
  background-size: cover;
  background-position: center;
  width: 350px;
}

#about .content .pictures div:nth-child(1) {
  background-image: url("../images/Savov.jpg");
  background-size: auto;
  background-position: top;
  border-right: 3px solid #fd3075;
}

#about .content .pictures div:nth-child(2) {
  background-image: url("../images/Simeonov.jpg");
  background-size: auto;
  background-position: top;
  border-right: 3px solid #fd3075;
}
/*# sourceMappingURL=style.css.map */