@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f2b;
  overflow-x: hidden;
}

.hidden-overflow {
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
}

.site-container {
  width: 100%;
  height: 100%;

  .sections-container {
    width: 100%;
    height: 100%;
    font-size: 10pt;

    .intro {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      h1 {
        z-index: 1;
        span {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 10rem;
          display: block;
          color: #6996a5;
        }
      }

      button {
        z-index: 1;
        width: 150px;
        height: 50px;
        border-radius: 15px;
        border: none;
        background: rgba(38, 87, 104, 0.5);
        transition: 0.3s;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          background: rgb(38, 88, 104);
        }
      }
    }

    #landing-arrow {
      position: absolute;
      z-index: 10;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .about {
      position: absolute;
      top: 100vh;
      left: 0;
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 3;
      h1 {
        font-size: 101px;
        color: #ee0460;
        font-family: "Roboto";
      }

      .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: auto;

        .card {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 300px;
          margin: 0 40px;

          img {
            width: 120px;
            height: 120px;
          }

          h2{
            font-size: 27.77px;
            color: #ee0460;
            font-family: "Roboto";
          }

          p {
            font-size: 17px;
            text-align: center;
            color: white;
            font-family: "Roboto";
          }

          .img-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            align-items: center;

            p {
              font-size: 30px;
              color: #ee0460;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }

  /*game art container start */
  .game-art-container {
    position: absolute;
    top: -315%;
    left: 0;
    width: 100%;
    height: 300vh;
    z-index: 2;

    #restart-phantom {
      position: absolute;
      top: 0;
      background-color: red;
    }

    .overlay {
      opacity: 0;
      position: absolute;
      height: 100vh;
      width: 100%;
      pointer-events: none;
      backdrop-filter: blur(20px);
      z-index: 100;
      animation: overlayShow 0.9s ease forwards 0.8s;
      animation-delay: 1s;
    }

    .overlaySVG_show {
      animation: svgShow 6s ease forwards 0.8s;
    }

    .overlaynt {
      position: absolute;

      svg text {
        width: 100%;
        stroke: #fd3075;
        font-size: 15rem;
        stroke-width: 5;
        z-index: 10;
        font-family: "Roboto";
        opacity: 0;
      }
      a {
        position: absolute;
        font-family: 'Roboto';
        cursor: pointer;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 40px;
        background: rgba(253, 48, 116, 0.7);
        padding: 10px 20px;
        padding-bottom: 17px;
        border-radius: 30px;
        transition: 0.3s;
        &:hover {
          background: rgb(253, 48, 116);
        }
      }
    }

    table {
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 3%;
      transform: translateX(-50%);
      border-collapse: collapse;

      .row {
        border-bottom: 3px solid #fd3075;
      }

      tr {
        height: 11rem;
        min-width: 31rem;

        td {
          height: 11rem;
          width: 11rem;

          &:nth-child(1) {
            border-right: 3px solid #fd3075;
          }

          &:nth-child(2) {
            border-right: 3px solid #fd3075;
          }

          button {
            height: 100%;
            width: 100%;
            background: transparent;
            border-style: none;
            color: #fd3075;
            font-family: "Roboto";
            font-size: 5rem;
            transition: 0.3s;

            &:hover {
              cursor: pointer;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    #game-button {
      position: absolute;
      z-index: 5;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: none;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    .clouds {
      position: relative;
      z-index: 6;
      top: 100vh;
      img {
        position: absolute;

        &:nth-child(1) {
          left: 15%;
          bottom: 10%;
          height: 90px;
        }

        &:nth-child(2) {
          right: 25%;
          height: 100px;
          bottom: 100%;
        }

        &:nth-child(3) {
          position: absolute;
          height: 200px;
          bottom: 100px;
          right: -7%;
        }

        &:nth-child(4) {
          position: absolute;
          height: 200px;
          bottom: 550px;
          right: -7%;
        }

        &:nth-child(5) {
          right: 25%;
          height: 100px;
          bottom: 870px;
        }

        &:nth-child(6) {
          left: 25%;
          height: 90px;
          bottom: 870px;
        }

        &:nth-child(7) {
          position: absolute;
          height: 200px;
          bottom: 640px;
          left: -2.2%;
        }

        &:nth-child(8) {
          position: absolute;
          height: 220px;
          bottom: 100px;
          left: -1.2%;
        }
      }
    }

    .second-detail {
      position: relative;
      top: -2%;
      left: 0;
      transform: translateX(-10%);
      img {
        position: absolute;
        z-index: 5;
      }
    }

    .Planet {
      position: absolute;
      left: 20%;
      top: -5%;
      transform: translate(-50%, -48%);
      z-index: 2;
    }

    .first-detail {
      position: relative;
      top: 2000px;
      right: -40%;

      img {
        position: absolute;
        bottom: 0;
        z-index: 5;
      }
    }

    .stars {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;

      #star-bg {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-83%, -30%);
        z-index: 1;
        height: 600px;
      }

      #star-mg {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-83%, -30%);
        z-index: 3;
        height: 170px;
      }

      #star-fr {
        position: absolute;
        height: 1200px;
        top: 10%;
        left: 7%;
        z-index: 4;
      }
    }
  }

  /*game art container end */

  /*intro art container start*/

  .intro-art-container {
    height: 200vh;
    width: 100vw;
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    overflow-y: hidden;

    .background {
      height: 100%;
      width: 100%;
      position: relative;

      #stars {
        top: 1%;
        width: 1911px;
      }

      .moon {
        width: 400px;
        height: 400px;
        position: relative;
        top: 340px;
        left: 50%;
        transform: translateX(-50%);
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &:nth-child(1) {
            width: 310px;
          }
          &:nth-child(2) {
            width: 380px;
          }
          &:nth-child(3) {
            width: 268px;
          }
        }
      }

      img {
        position: absolute;
        width: 1920px;
        bottom: 0;
        left: 0;
      }
    }

    .midground {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;

      img {
        width: 1900px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    .foreground {
      height: 98%;
      width: 100%;
      position: absolute;
      top: 0;

      img {
        width: 1920px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  /*intro art container end*/
}

.clickedX {
  animation: clickX 0.3s;
}

.clickedX text {
  stroke: #fd3075;
  font-size: 600px;
  font-weight: 200px;
  stroke-width: 5;
  animation: xSVG_anim 0.3s;
  fill: #fd3075;
}

.parallax-layer {
  pointer-events: none;
}

@keyframes clickO {
  0% {
    font-size: 0rem;
  }

  100% {
    font-size: 7rem;
  }
}

@keyframes xSVG_anim {
  0% {
    stroke-dasharray: 0 50%;
    fill: #1f242c;
  }

  50% {
    fill: #1f242c;
  }

  100% {
    fill: #fd3075;
    stroke-dasharray: 50% 0;
  }
}

@keyframes overlayShow {
  100% {
    opacity: 100%;
    pointer-events: auto;
  }
}

@keyframes svgShow {
  0% {
    stroke-dasharray: 0 50%;
    opacity: 0;
  }

  100% {
    stroke-dasharray: 50% 0;
    opacity: 100%;
  }
}
